@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/

.top-page {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #621518;
    gap: 256px;
}

.logo-fisi {
    margin-left: 32px;
}

h1 {
    font-family: 'Bree Serif', sans-serif;
    font-size: 64px;
    color: white;
}

.piso {
    height: 100vh;
}

.nodo {
    fill: #000000;
}

.auditorio, .newpabellon {
    cursor: pointer;
}
.auditorio:hover, .newpabellon:hover {
    cursor: pointer;
    fill: #ff0000;
}