@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #e6e6e6;
    width: 100vw;
    height: 100vh;
}


header {
    width: 100%;
    max-width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-page {
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #621518;
    padding: 0 20px;
}

.logo {
    width: 60px;
    height: 60px;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-bottom: 0;
}

#links li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    cursor: pointer;

}


.select {
    background-color: black;
}

.cursores {
    width: 100%;
    height: 55px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00205a;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.cursor span {
    color: azure;
    font-size: 16px;
}


main {
    width: 100%;
    max-width: 100%;
    height: 91vh;
    max-height: 91vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapa {
    width: 100%;
    max-width: 100%;
    height: 91vh;
}

#pisos{
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piso {
    height: 90%;
    max-height: 90%;
    position: absolute;
    background-color: #d0d0d0;
}

.colored:hover {
    cursor: pointer;
    background-color: #b6b6b6;
}

#capa_1 {
    transform: translateZ(-100px) scale3d(0.8, 0.8, 0.8);
}

#capa_2 {
    transform: translateZ(0px) scale3d(0.8, 0.8, 0.8);
}

#capa_3 {
    transform: translateZ(100px) scale3d(0.8, 0.8, 0.8);
}

.nodo {
    fill: #00000000;
}

.point {
    cursor: pointer;
}
.point_colored:hover {
    fill: #414141;
}

.rotate {
    transform-style: preserve-3d;
	transform: rotateX(70deg) rotateZ(-45deg) translateZ(0vmin);
    transition: transform 0.5s;
}

.norotate {
    transform-style: preserve-3d;
	transform: rotateX(0deg) rotateZ(0deg) translateZ(0vmin);
    transition: transform 0.5s;
}

#name_point , #name_floor {
    position: absolute;
    color: rgb(49, 49, 49);
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
}

#name_point {
    display: none;
    right: 5rem;
    top: 5rem;
    max-width: 200px;
}

#name_floor {
    right: 5rem;
    bottom: 5rem;
    max-width: 200px;
}

#div_buttons {
    position: absolute;
    right: 5vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.boton {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton:disabled {
    background-color: #b6b6b6;
    cursor: not-allowed;
}

#div_lateral,
#information {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

#div_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    background-color: #fbfbfb;
    box-shadow: #41414191 0px 0px 10px 0px;
    overflow: hidden;
    transition: all .5s ease-in, all .5s ease-out;

}

.show {
    min-width: 350px;
    width: auto;
    padding: 20px;
    
}

#div_button {
    padding: 15px 5px;
    background-color: #fbfbfb;
    box-shadow: #41414191 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#test-list {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#test-list .search{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#test-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#test-list ul li{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

#information {
    border: 2px solid #621518;
    width: 45vh;
    min-height: 60vh;
    margin-left: 8vh;
}