@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #e6e6e6;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursores {
    width: 100%;
    height: 55px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00205a;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.cursor span {
    color: azure;
    font-size: 16px;
}


main {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapa {
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pisos{
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piso {
    height: 90%;
    max-height: 90%;
    position: absolute;
}

.colored:hover {
    cursor: pointer;
    background-color: #b6b6b6;
}

#capa_1 {
    transform: translateZ(-100px) scale3d(0.8, 0.8, 0.8);
}

#capa_2 {
    transform: translateZ(0px) scale3d(0.8, 0.8, 0.8);
}

#capa_3 {
    transform: translateZ(100px) scale3d(0.8, 0.8, 0.8);
}

.nodo {
    fill: #00000000;
}

.point {
    cursor: pointer;
}
.point_colored:hover {
    fill: #414141;
}

.rotate {
    transform-style: preserve-3d;
	transform: rotateX(70deg) rotateZ(-45deg) translateZ(0vmin);
    transition: transform 0.5s;
}

.norotate {
    transform-style: preserve-3d;
	transform: rotateX(0deg) rotateZ(0deg) translateZ(0vmin);
    transition: transform 0.5s;
}

#name_point , #name_floor {
    position: absolute;
    color: rgb(49, 49, 49);
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
}

#name_point {
    display: none;
    right: 5rem;
    top: 5rem;
    max-width: 200px;
}

#name_floor {
    right: 5rem;
    bottom: 5rem;
    max-width: 200px;
}

#div_buttons {
    position: absolute;
    right: 5vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.boton {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton:disabled {
    background-color: #b6b6b6;
    cursor: not-allowed;
}

#div_lateral {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

#div_content, #div_content_2, #div_content_3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    background-color: #fbfbfb;
    box-shadow: #41414191 0px 0px 10px 0px;
    overflow: hidden;
}

.show {
    min-width: 350px;
    width: auto;
    padding: 20px;
    
}

#div_content_3 {
    padding: 0;
}

#div_button {
    padding: 15px 5px;
    background-color: #fbfbfb;
    box-shadow: #41414191 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#test_list {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#test_list .search{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#test_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#test_list ul li{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

#test_list p{
    font-size: 12px;
    font-weight: bold;
    color: rgba(58, 58, 58, 0.603);
}


.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
}

.content-image {
    width: 130%;
    height: 100%;
}

.content-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 25px;
    gap: 10px;
}

.content-title {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    text-shadow: #621518;
}

.content-description {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    font-weight: 280;
    text-shadow: #621518;
}

.div_search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#search_box ,#select_box ,#select_box_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#select_box, #select_box_2 {
    width: 90%;
    min-width: 90%;
}

#button_direction, #button_direction_2, #button_direction_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    background-color:#621518;
    color: white;
    cursor: pointer;
}

#button_direction_3 {
    background-color: #00000000;
}

.cesped {
    fill: #428700;
}

.stairs {
    fill: #350000;
}

.stairs:hover {
    fill: #cd0000;
}
.departamento {
    fill: #A68660;
}

.departamento:hover {
    fill: #ff9d2e;
}

.departamentosc {
    fill: #878787;
}

.floor-shape {
    fill: #BFB78F;
}

.bathroom {
    fill: #025E73;
}

.bathroom:hover {
    fill: #0fc3e8;
}

.losa {
    fill: #2E5902;
}

.losa:hover {
    fill: #5ebd05;
}


/* Larger than mobile */
@media (max-width: 400px) {
    .piso {
        width: 80vw;
    }
    .colored:hover {
        background-color: #b6b6b600;
    }
    #mapa {
        overflow: hidden;
    }
}